@model IEnumerable<Sprint1AppDev3A.Models.ArchiveBooking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RefNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContainerSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickupLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dropoffLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transportType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RefNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pickupLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dropoffLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transportType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Booked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PreId })
        </td>
    </tr>
}

</table>
