@model IEnumerable<Sprint1AppDev3A.Models.Maintenance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MaintainCheckBox)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintainPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MTechnician)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tyres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.MaintainCheckBox)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintainPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MTechnician)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tyres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaintainID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaintainID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaintainID })
            </td>
        </tr>
    }

</table>
