@model Sprint1AppDev3A.Models.ArchiveNewBooking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArchiveNewBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pickupdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cellnum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cellnum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specInstruct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specInstruct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.testtext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.testtext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.two)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.two)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dropoff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dropoff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priorty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priorty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.news)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.news)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.newss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingIds }) |
    @Html.ActionLink("Back to List", "Index")
</p>
