@model IEnumerable<Sprint1AppDev3A.Models.Resource>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewDrivers.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewTrailer.reg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewTrucks.make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusResource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailerSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewDrivers.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewTrailer.reg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewTrucks.make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusResource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailerSize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
